@import "util/variables";

.background {
  background-color: #272829b6;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  -webkit-animation: popup 0.5s;
  -moz-animation: popup 0.5s;
  animation: popup 0.5s;

  .form {
    width: 100%;
    height: 100vh;

    .form-container {
      position: absolute;
      top: 37%;
      left: 30%;
      display: flex;
      padding: 30px;
      background-color: #fbfbfb;

      .form-control {
        margin: 10px;
        display: flex;
        flex-direction: column;

        label {
          color: #a2a2a2;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: -20;
          margin: 8px 0;
        }

        input {
          border: 2px solid $yellow;
          padding: 10px;
          font-family: $font-family;
          font-weight: 500;
          font-size: 21px;
          letter-spacing: 20;
        }
      }

      .close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 10px;
        background-color: $yellow;
        color: $gray;
        font-size: 25px;
      }
    }
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  .background {
    .form {
      .form-container {
        left: 18%;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .background {
    .form {
      .form-container {
        left: 27%;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .background {
    .form {
      .form-container {
        top: 30%;
        left: 2%;
        flex-direction: column;
      }
    }
  }
}
